---
---
<style>
</style>
<header class="sticky top-0 z-50 max-w-6xl text-xl leading-relaxed tracking-wide bg-blue-500 text-white w-100">
    <nav class="flex items-center text-center font-bold justify-center gap-10 p-4 min-h-14">
        <a href="/">Home</a>
        <a href="/history">History</a>
        <a href="/submit">Submit</a>
    </nav>
</header>