---
---
<header class="flex justify-center sticky top-0 z-50 text-xl leading-relaxed tracking-wide bg-blue-500 text-white w-100 drop-shadow-lg">
    <nav class="container flex items-center justify-between text-center font-bold p-4 min-h-14 gap-10">
        <span class="flex justify-center gap-10">
            <a class="hover:underline" href="/">Home</a>
            <a class="hover:underline" href="/history">History</a>
            <a class="hover:underline" href="/submit">Submit</a>
        </span>
        <span class="flex gap-2">
            <a class="hover:underline" href="/login">Login</a>
            <span class="w-8 font-bold text-gray-700 rounded-full bg-white flex items-center justify-center font-mono" >?</span>
        </span>
    </nav>
</header>